/*--------------------------------

nucleo-icons Web Font - built using nucleoapp.com
License - nucleoapp.com/license/

// -------------------------------- */
// @font-face {
//   font-family: 'nucleo-icons';
//   src: url('../../../../fonts/nucleo-icons.ttf');
//   src: url('../../../../fonts/nucleo-icons.ttf') format('embedded-opentype'), url('../../../../fonts/nucleo-icons.ttf') format('tff'), url('../../../../fonts/nucleo-icons.ttf') format('tff'), url('../../../../fonts/Poppinsnucleo-icons.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
@font-face {
  font-family: 'poppins-icons';
  src: url('../../../../fonts/Poppins-Black.ttf');
  src: url('../../../../fonts/Poppins-Black.ttf') format('embedded-opentype'), url('../../../../fonts/Poppins-Black.ttf') format('tff'), url('../../../../fonts/Poppins-Black.ttf') format('tff'), url('../../../../fonts/Poppins-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* all icon font classes list here */
