.animated-icon {
  width: 6%;
  height: auto;
  -webkit-animation: rotate-center 2s ease-in-out infinite both;

  // Footer

  animation: rotate-center 2s ease-in-out infinite both;
  @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

// Auth Recovery Password
.recovery-password-user {
  -webkit-animation: shadow-drop-center 4s ease-out infinite both;
  animation: shadow-drop-center 4s ease-out infinite both;
  @-webkit-keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
}

// Admin Navbar
.nav__logo {
  display: flex;
  margin-bottom: 10px;
  width: 50%;
}

#settings {
  color: $primary-color !important;
}

.custom__avatar {
  box-sizing: border-box;
  width: 10%;
  height: 10%;
  border-radius: 50%;
}

.fix__navlink {
  padding: 0px !important;
}

// OFFICE BRANCH

.office-branch-card-image {
  width: 100%;
  border-radius: 12px;
  -webkit-box-shadow: 0px 8px 56px -30px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 8px 56px -30px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 8px 56px -30px rgba(0, 0, 0, 0.75);
}

.office-branch-card-title {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

// Loading components
.loading {
  width: 40%;
  height: auto;

  -webkit-animation: rotate-center 2s ease-in-out infinite both;

  // Footer

  animation: rotate-center 2s ease-in-out infinite both;
  @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

.background-loading {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  filter: blur(6px);

  &:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.6);
  }

  &.pricing-page {
    .description {
      margin-bottom: 65px;
    }
  }

  &.register-page {
    .content > .container {
      margin-top: 5vh;
    }
    .info-horizontal {
      padding: 0px 0px 20px;
    }

    .info-horizontal {
      text-align: left !important;

      .icon {
        margin-top: 0;

        > i {
          font-size: 2em;
        }

        &.icon-circle {
          width: 65px;
          height: 65px;
          max-width: 65px;
          margin-top: 8px;

          i {
            display: table;
            margin: 0 auto;
            line-height: 3.5;
            font-size: 1.9em;
          }
        }
      }
      .description {
        overflow: hidden;
      }
    }
  }

  &.lock-page {
    .content > .container {
      margin-top: 10vh;
    }
  }

}
