.form-select{
    background-color: white;
    border: thin #E3E3E3;
    border-bottom-style: solid;
    width: 100%;
    color: #495057;
    height: 46px;
}

.office-name .form-label,
.sucursal .form-label,
.office-type .form-label,
.description .form-label,
.photos .form-label,
.price-hour .form-label,
.services .form-label,
.equipment .form-label,
.capacity .form-label,
.availability .form-label,
.number-of-tables .form-label,
.input-time-from .form-label,
.input-time-to .form-label{
    color: #133148;
    font-size: 15px;
    margin-top: 20px;
    font-weight: bold;
}

.office-name input {
    height: 46px;
}

.price-hour .input-group {
    margin-bottom: 0px;
}

.row-label-services,
.row-label-equipment {
    width: 100%;
    display: block;
}

.services .form-select,
.equipment .form-select {
    width: 80%;
}

.services .row-form-select,
.equipment .row-form-select{
    display: flex;
    justify-content: space-between;
}

#servicesButton,
#equipmentButton {
    margin-top: 0px;
    margin-bottom: 0px;
}

.input-time-container{
    display: flex;
    justify-content: space-between;
}

.input-time-from,
.input-time-to {
    width: 40%;
}

.button-container{
    margin-left: 10px;
}